
<!-- TODO: Create a component for each card and have an array of operations
    instead of hard coding the values. -->
<div class="container">
  <div class="row">

    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Usuarios</h4>
          <p class="card-text">Manage user accounts.</p>
          <a href="#" class="btn btn-primary">User Accounts</a>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Medicamentos</h4>
          <p class="card-text">Manage Medicines</p>
          <a href="#" class="btn btn-primary">Medicines</a>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Client Info</h4>
          <p class="card-text">Manage Client Info</p>
          <a href="#" class="btn btn-primary">Client Info</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Reportes: Usuarios</h4>
          <p class="card-text">User Reports</p>
          <a href="#" class="btn btn-primary">User Reports</a>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Reportes: Medicamentos</h4>
          <p class="card-text">Report Medicines</p>
          <a href="#" class="btn btn-primary">Report Medicines</a>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Reportes: Client Info</h4>
          <p class="card-text">Report Client Info</p>
          <a href="#" class="btn btn-primary">Report Client Info</a>
        </div>
      </div>
    </div>
  </div>
</div>